.container {
  border-radius: 4px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: black 1px solid;
  :focus,
  :active {
    outline: none;
  }
}
